* {
	font-family: "Lato";
}
body {
	background-color: $brand-primary;
}
.box-left {
  min-height: 100vh;
  border-right: 2px solid #fff;
  overflow: hidden;
  .menu {
  	padding-top: 14px;
  	z-index: 1;
  	ul {
  		padding-top: 10px;
  		li {
  			position: relative;
  			transition: all 0.5s ease;
	  		a {
	  			top: 0;
	  			bottom: 0;
	  			right: 0;
	  			left: 0;
	  			position: absolute;
	  		}
	  		&:hover {
	  			circle {
	  				fill: #ffffff;
	  			}
	  			line, path, polyline {
	  				stroke: $brand-primary;
	  			}
	  		}
	  	}
  	}
  }
  .world {
  	top: 0px;
    opacity: 0.2;
  }
  h1 {
  	color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 500px;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.4;
    span {
    	transition: all .8s ease-in;
    	a {
    		color: white;
    	}
    	&.ghost {
	    	opacity: 0;
	    	position: absolute;
	    }
    }
  }
  .icon {
  	bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.box-right {
	padding: 0px;
	overflow: auto;
	height: 100vh;
	form {
		border-bottom: 2px solid #fff;
		z-index: 1000;
		background-color: $brand-primary;
		input {
			height: 90px;
			background-image: url("../images/lupa.svg");
			background-color: transparent;
			border: none;
			background-repeat: no-repeat;
			background-position: 15px 25px;
			padding-left: 65px;
			font-size: 15px;
			font-weight: 100;
			color: white;
			&::-webkit-input-placeholder {
			  color: #8880ba;
			}
		}
	}
	.cities {
		margin: 90px 0 0 0;
		li {
			height: 300px;
			border-bottom: 2px solid white;
			color: white;
			padding: 20px;
			transition: all .3s ease-in-out;
			overflow: hidden;
			&:nth-child(2n-1) {
				border-right: 1px solid white;
			}
			&:nth-child(2n) {
				border-left: 1px solid white;
			}
			&:nth-last-child(1),
			&:nth-last-child(2) {
				border-bottom: none;
			}
			h2 {
				font-size: 25px;
				font-weight: bold;
				padding-bottom: 7px;
			}
			p {
				font-size: 12px;
			}
			svg {
				width: 170px;
		    left: 50%;
		    transform: translateX(-50%);
		    bottom: -78px;
		    fill: white;
		    path {
		    	height: 130px;
		    }
			}
			a {
  			top: 0;
  			bottom: 0;
  			right: 0;
  			left: 0;
  			position: absolute;
  		}
			&:hover {
				background-color: #ffffff;
				color: $brand-primary;
				svg {
		    	fill: $brand-primary;
		    }
			}
		}
	}
}
.modal-dialog {
	@extend .absolute-center;
	width: 750px;
	color: white;
	.modal-content {
		padding: 30px 60px;
		background-color: $brand-primary;
		.modal-header {
			padding-left: 0px;
			h4 {
				font-weight: 600;
	    	font-size: 25px;
	    	img {
	    		margin-right: 10px;
	    	}
			}
			.close {
		    border: none;
		    background: transparent;
		    top: 20px;
		    right: 50px;
		    font-size: 25px;
		    opacity: 0.5;
		    &:hover {
		    	opacity: 1;
		    }
		    &:focus {
		    	outline: none;
		    }
			}
		}
		.modal-body {
			padding: 20px 0px;
			font-size: 15px;
			font-weight: 100;
			line-height: 1.5;
		}
	}
}